/** Body Styling **/
body{
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
}
/** Fonts **/
h1{
    font-family: "Cinzel", sans-serif;
    font-size: 65px;
    color: #04046e;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    letter-spacing: 1px;
}
h2{
    font-family: "Cinzel", sans-serif;
    font-size: 30px;
}
h3{
    font-family: "Handjet", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    color: #2b2a2a;
}
/** Header Styling **/
header{
    display: flex;
    height: 110px;
    width: 100%;
    justify-content: center;
    opacity: 0.6;
}
header img{
    width: auto;
    height: 100px;
}
/** Masthead Styling **/
.masthead-img{
    background-image: url("../img/masthead.jpg");
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.masthead-img p{
    font-family: "Damion", sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 100px;
}
/** Music video **/
.music-video video{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
/** Lyric Styling **/
.lyrics{
    text-align: center;
    justify-content: center;
    letter-spacing: 1px;
}
.chorus1 p, .verse1 p, .refrain p, .chorus2 p, .post-chorus1 p, .verse2 p, .bridge p, .post-chorus2 p{
    margin-bottom: 0;
}
.chorus1, .verse1, .refrain, .chorus2, .post-chorus1, .verse2, .bridge, .post-chorus2{
    margin-bottom: 70px;
    text-align: center;
    justify-content: center;
}
.gray{
    font-family: "IM Fell English", sans-serif;
    font-size: 27px;
    color: #2f4f4f;
    letter-spacing: 1.2px;
    font-weight: bold;
}
.dark-blue{
    font-family: "Damion", sans-serif;
    font-size: 32px;
    color: #04045a;
    font-weight: bold;
    letter-spacing: 1.8px;
}
.light-blue{
    font-family: "Damion", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: cadetblue;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
.dim-grey{
    font-family: "Damion", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #7a7979;
    letter-spacing: 1.8px;

}
.ad-lib{
    font-family: "Cinzel", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #2f4f4f;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
/** Footer Styling **/
footer{
    display: flex;
    height: 110px;
    width: 100%;
    text-align: center;
    justify-content: center;
}